/* AddNote.css */
.add-note-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Reduced padding */
  max-width: 450px; /* Reduced width */
  margin: 20px auto;
  position: relative;
}

.add-note-placeholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px; /* Reduced padding */
  border: 1px dashed #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.add-note-placeholder .MuiTypography-root {
  color:gray;
  font-size: 14px; /* Reduced font size */
}

.add-note-form {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Reduced space between elements */
}

.submit-btn {
  align-self: flex-end;
  margin-top: 5px; /* Reduced margin */
}

textarea,
input[type="text"] {
  padding: 8px; /* Reduced padding */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 13px; /* Reduced font size */
  width: 100%;
  height: 35px; /* Reduced height */
}

textarea {
  height: 80px; /* Reduced height */
  resize: none;
}

button {
  padding: 8px 12px; /* Reduced padding */
  border: none;
  background-color: #4285f4;
  color: #fff;
  border-radius: 4px;
  font-size: 14px; /* Reduced font size */
  cursor: pointer;
  transition: background-color 0.3s;
}



.error-text {
  color: red;
  font-size: 12px;
}
