.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  background-color: #ffffff;
  z-index: 1000;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.topbar-title {
  color: #4CAF50;
  margin: 0;
  margin-left: 20px;
}

.topbar-search {
  flex-grow: 1;
  max-width: 550px;
  height: 50px;
  padding: 0 10px;
  margin-left: 180px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

.topbar-search:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.icons {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  padding-top: 20px;
  gap: 20px;
  color: gainsboro;
}

.icons > * {
  cursor: pointer;
}

