.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:space-between; /* Ensures left and center content is balanced */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  background-color: #ffffff;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-logo {
  height: 40px;
  width: auto;
  margin-right: 10px; /* Space between the logo and the title */
}

.topbar-title {
  color: #4CAF50; /* Changed to a green shade */
  margin: 0;
  margin-left: 20px; /* Remove default margin for consistent spacing */
}

.topbar-search {
  flex-grow: 1;
  max-width: 700px;
  height: 50px;
  padding: 0 10px;
  margin-left:180px ;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

.topbar-search:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.icons {
  display: flex; /* Use flexbox to arrange the icons */
  justify-content: flex-end; /* Align icons to the end of the container */
  gap: 20px; /* Add space between icons (adjust the value as needed) */
}

.icons > * {
  cursor: pointer;
}