/* Sidebar styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .drawer-container {
    display: flex;
  }
  

  
  .drawer-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }