.note-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  height: 200px ;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-title {
  margin: 0 0 8px;
  font-size: 1.2em;
  font-weight: bold;
}

.note-content {
  margin: 0 0 16px;
  font-size: 1em;
  color: #555;
  flex-grow: 1; 
}

.note-actions {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.action-icon {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.1);
}

.edit-icon {
  color:gainsboro;
}

.delete-icon {
  color: gainsboro; /* Red */
}

.archive-icon {
  color: gainsboro; /* Green */
}

.palette-icon {
  color: gainsboro; /* Orange */
}



/* Color Palette */
.color-palette {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.color-option {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.color-option:hover {
  transform: scale(1.2);
  border-color: #999;
}
